# This is the formula to append in your own env.properties file
# Step 1: Add new file in src/main/resources called env.properties
# Step 2: Copy Paste lines # - # into env.properties
# Step 3: Ask team for Database URL, username and password

spring.application.name=synebankapp
spring.datasource.url= #Database URL
spring.datasource.username= #connection username
spring.datasource.password= #connection password
